<section class="artistinfo">
    <div class="navbar-form navbar-left">
        <button type="button" class="btn btn-success" style="width:300px;" ng-click='buttonClickSound.play()' ng-mouseover='buttonHoverSound.play()'><a href="/#/listjpa">Lista graczy (jpa)</a>
        </button>
    </div>
    <div class="navbar-form navbar-right">
        <button type="button" class="btn btn-success" style="width:300px;" ng-click='buttonClickSound.play()' ng-mouseover='buttonHoverSound.play()'><a href="/#/listmongo">Lista graczy
            (mongo)</a></button>
    </div>
</section>